@import 'home.css';
@import 'search.css';
@import 'view.css';

:root{
 --bg: #05141f;
 --tc: #0C2D48;
}
.spin{
  width: 100vw;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items:center;
}
.nav-grid{
  display: grid;
  grid-template-columns: auto auto;
  padding:1rem;
}
html body{
    background-color: var(--bg);
    color:white;
    overflow-x: hidden;

}
.none{
  width: 100vw;    
  height: 8vh;
}

.navbar{
  background-color: var(--tc);
}