@import 'home.css';
@import 'search.css';
@import 'view.css';

:root{
 --bg: #141514;
 --tc: white;
}

html body{
    background-color: var(--bg);
    color:white;

}
.none{
  width: 100vw;    
  height: 9vh;
}