.search-text{ 
    margin-left: 5%;
}

.contanier-flex{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.contanier{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5%;
    grid-row-gap: 3.6rem;
    padding-bottom: 2rem;
}


.cont-card{
    width: 100%;
    position: relative;
}

.search-card{
    position: relative;
}

.search-card img{
    height: 100%;
}

.search-card .hid-card{
    background-color:var(--bg);
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 40%;
    transform: translateY(-98%);
    transition: 0.5s ease-out;   
}

.search-card:hover  .hid-card{
    opacity: 90%;
    color: white;
}


.search-form{
    width: 80%;
    max-width: 300px;
    padding: 1rem;
}

.search-form button{
    border-radius: 10px;
    background-color: whtie;
    
}


.card-title{
    font-size:.7rem;
    padding: .4rem;
    
}
.rating{
    font-size:.6rem;
    padding: .4rem;
}



.header-rec {
    margin-top: .5rem;
    border-radius: 8px;
    align-items: baseline;
    padding: .4rem;
    background-color: var(--theme-color);
    margin-left: 1rem;
    display: inline-block;
  }
  

.modalbut{
    margin-top: .3rem;
    border-radius: 10px;
    outline: none;
    border: none;
}


.modal-content .modal-header,.modal-content .modal-body,.modal-content .modal-footer{
    background-color: rgb(26, 26, 26);
    color: white;
    border: none;
}


.modal-img{

border-radius: 9px;
width: 70%;
height: 90%;
}



.video{
    width: 90% ;
    height: 30vh;
    margin-top: 1rem;
}

.tbutc{
    background-color: rgb(15, 15, 15);
    width: 90%;
    padding: 3rem;
}

.tbut{
   border-radius: 50%;
   height: 50px;
   width: 50px;
   font-size: 0;
   border: none;
   background-color: rgb(44, 44, 44);
}

.arrow{
    font-size: 2rem;
    color: rgb(15, 15, 15);
}

.id{
    display: none;
}