.view-header{

    padding: 2rem;

}



.view-title{
    font-size: 2rem;
}

.view-sec{
    padding: 1.3rem;
}

.sec-label{
    margin-bottom: .5rem;
}


.video-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tbutf{
    width: 100vw;
}

.tbutc{
    background-color: rgb(15, 15, 15);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 3rem;
}

.video-y{
 height: 35vh;
 width: 90%;
}

.tbut{
   border-radius: 50%;
   height: 50px;
   width: 50px;
   font-size: 0;
   border: none;
   background-color: rgb(255, 255, 255);
}

.arrow{
    font-size: 2rem;
    color: rgb(15, 15, 15);
}


.view-id{
    display: none;
}

.largev{
    display: none;
}

@media only screen and (min-width:450px){
    .largev{
        display: block;
    }
    .smallv{
        display: none;
    }
    .view-header{

        width: 100vw;
    
    }
.view-title{
    margin-left: 3rem;
}
.view-img{
height: 50%;
width: 30%;
}

.img-view-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbutc{
    background-color: rgb(15, 15, 15);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 3rem;
}



.video-flex{
 
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-y{
    height: 70vh;
    width: 60%;
}

.view-sec{
    font-size:1.5rem ;
}
}

.on-flex{
    display: none;
}

@media only screen and (min-width:1000px){
    
   
    .flex-view-large{
        display: flex;
    }
    .no-flex{
        display: none;
    }
    .on-flex{
        display: block;
    }


    .view-img{
        width: 65%;
        max-width: 400px;
        min-width: 300px;
        height: 100%;
        }

        .img-view-flex{
            display:flex;
            height: 70vh;
            margin-left: 2rem;
        }

.video-y{
    height: 70vh;
    width: 50vw;
    margin-right: 5rem;

}


.tbutc{
    background-color: rgb(15, 15, 15);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.tbutf{
    width: 100vw;
    height:50vh;
    padding-top: 4rem;
    margin-right: 10rem;

}


 .sec-label{
    margin-left: 2rem;
 }

}