.view-header{

    padding: 2rem;

}

.view-title{
    font-size: 2rem;
}

.view-sec{
    padding: 1.3rem;
}

.sec-label{
    margin-bottom: .5rem;
}


.video-flex{
    display: none;
}


.tbutf{
    width: 100vw;
}

.tbutc{
    background-color: rgb(15, 15, 15);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 3rem;
}

.tbut{
   border-radius: 50%;
   height: 50px;
   width: 50px;
   font-size: 0;
   border: none;
   background-color: rgb(44, 44, 44);
}

.arrow{
    font-size: 2rem;
    color: rgb(15, 15, 15);
}


.view-id{
    display: none;
}

.largev{
    display: none;
}

@media only screen and (min-width:450px){
    .largev{
        display: block;
    }
    .smallv{
        display: none;
    }
    .view-header{

        width: 100vw;
    
    }
.view-title{
    margin-left: 3rem;
}
.view-img{
height: 50%;
width: 30%;
}

.img-view-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbutc{
    background-color: rgb(15, 15, 15);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 3rem;
}



.video-flex{
 
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-y{
    height: 70vh;
    width: 60%;
}

.view-sec{
    font-size:1.5rem ;
}
}