<div class="none"></div>

<nav class="navbar navbar-dark  fixed-top gray-back">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">movies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        
        <div class="offcanvas-header gray-back">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">movies fliters</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body gray-back">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <div class="nav-grid">
              <a class="nav-link" href="/gener/action">action</a>
              <a class="nav-link" href="#">adventure</a>
              <a class="nav-link" href="#">animation</a>
              <a class="nav-link" href="#">comedy</a>
              <a class="nav-link" href="#">crime</a>
              <a class="nav-link" href="#">drama</a>
              <a class="nav-link" href="#">family</a>
              <a class="nav-link" href="#">fantasy</a>
              <a class="nav-link" href="#">horror</a>
              <a class="nav-link" href="#">music</a>
              <a class="nav-link" href="#">romance</a>
              <a class="nav-link" href="#">sci-Fi</a>
              <a class="nav-link" href="#">sport</a>
              <a class="nav-link" href="#">war</a>
              
            </div>
            </li>
          
          </ul>
          <form class="d-flex mt-3 form" method="post" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchq">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>

      </div>
    </div>
  </nav>
