<div class="none"></div>

<nav class="navbar navbar-dark  fixed-top gray-back">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">movies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        
        <div class="offcanvas-header ">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">movies fliters</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <div class="nav-grid">
              <a class="nav-link" href="/gener/action">action</a>
              <a class="nav-link" href="/gener/adventure">adventure</a>
              <a class="nav-link" href="/gener/animation">animation</a>
              <a class="nav-link" href="/gener/comedy">comedy</a>
              <a class="nav-link" href="/gener/crime">crime</a>
              <a class="nav-link" href="/gener/drama">drama</a>
              <a class="nav-link" href="/gener/family">family</a>
              <a class="nav-link" href="/gener/fantasy">fantasy</a>
              <a class="nav-link" href="/gener/horror">horror</a>
              <a class="nav-link" href="/gener/music">music</a>
              <a class="nav-link" href="/gener/romance">romance</a>
              <a class="nav-link" href="/gener/sci-Fi">sci-Fi</a>
              <a class="nav-link" href="/gener/sport">sport</a>
              <a class="nav-link" href="/gener/war">war</a>
              
            </div>
            </li>
          
          </ul>
          <form class="d-flex mt-3 form" method="post" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchq">
            <button class="btn header-button" type="submit">Search</button>
          </form>
        </div>

      </div>
    </div>
  </nav>
