<body>
  
 



  <label class="home-text">Trending movies</label>
  <div class="slide-flex">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <a href="/hv/spider man no way home">
        <img src="img/g1.jpg" class="d-block" alt="...">
      </a>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <a href="/hv/bullet train">
        <img src="img/g2.jpg" class="d-block " alt="...">
      </a>
      </div>
    
    
      <div class="carousel-item" data-bs-interval="2500">
        <a href="/hv/the batman">
        <img src="img/g3.jpg" class="d-block " alt="...">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<label class="home-text2">action movies</label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/thor: Love and Thunder">
  <img src="img/g7.jpeg" class="card-img-top" alt="...">
</a>
</div>

<div class=" home-card" >
   <a href="/hv/inception">
  <img src="img/g8.jpg" class="card-img-top" alt="...">
  </a>
</div>

<div class=" home-card" >
  <a href="/hv/no time to die">
  <img src="img/g9.jpg" class="card-img-top" alt="...">
</a>
</div>


</div> 






<label class="home-text">Top Rated Serise</label>
<div class="slide-flex">

<div id="carouselExampleInterval" class="carousel2 slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <a href="">
      <img src="img/g10.jpg" class="d-block" alt="...">
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g11.jpg" class="d-block " alt="...">
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g12.jpg" class="d-block " alt="...">
    </a>
    </div>
  </div>
  <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<label class="home-text2">Top Animations </label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/kimetsu no yaiba  mugen ressha-hen">
  <img src="img/g4.jpg" class="card-img-top" alt="...">
</a>
</div>

<div class=" home-card" >
  <a href="/hv/into the spider verse">
  <img src="img/g5.jpg" class="card-img-top" alt="...">
</a>
</div>

<div class=" home-card" >
  <a href="/hv/raya and the Last Dragon">
  <img src="img/g6.webp" class="card-img-top" alt="...">
</a>
</div>


</div> 




<label class="home-text2">Top sci-fi </label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/interstellar">
  <img src="img/g13.jpg" class="card-img-top" alt="...">
</a>
</div>

<div class=" home-card" >
  <a href="/hv/blade Runner 2049">
  <img src="img/g15.jpg" class="card-img-top" alt="...">
  </a>
</div>

<div class=" home-card" >
  <a href="/hv/lucy">
  <img src="img/g14.jpg" class="card-img-top" alt="...">
</a>
</div>
</div> 






</body>
