<body>
  
 



  <label class="home-text small">Trending movies</label>
  <div class="slide-flex slide-flex1">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <a href="/hv/spider man no way home">
        <img src="img/g1.jpg" class="d-block" alt="...">
      </a>
      
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <a href="/hv/bullet train">
        <img src="img/g2.jpg" class="d-block " alt="...">
      </a>
      </div>
    
    
      <div class="carousel-item" data-bs-interval="2500">
        <a href="/hv/the batman">
        <img src="img/g3.jpg" class="d-block " alt="...">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>











  <div id="carouselExampleInterval" class="carousel-large slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
    
        <div class="item-grid">    
        <a href="/hv/spider man no way home">
        <img src="img/g1l.jpg" class="d-block" alt="...">
      </a>
      <div class="desc-1">
        <div class="lab-div">
        <label for="">spider man no way home</label>
        <p>imdRatring: 8.3</p>
        <p class="fisrt-desc">With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes from other worlds start to appear, forcing Peter to discover what it truly means to be Spider-Man</p>
      </div>
        <div class="but-div">
        <a href="/hv/spider man no way home">Watch</a>
      </div>
      </div>
    </div>

    </div>
      <div class="carousel-item" data-bs-interval="2500">
       
        <div class="item-grid">
        <a href="/hv/bullet train">
        <img src="img/g2l.jpg" class="d-block " alt="...">
      </a>
      <div class="desc-1">
        <div class="lab-div">
          <label for="">Bullet Train
          </label>
          <p>imdRatring: 7.3</p>
          <p class="fisrt-desc">Five assassins aboard a swiftly-moving bullet train find out that their missions have something in common.</p>
        </div>
          <div class="but-div">
          <a href="/hv/bullet train">Watch</a>
        </div>
      </div>
    </div>
      </div>
    
    
      <div class="carousel-item" data-bs-interval="2500">
        <div class="item-grid">

        <a href="/hv/the batman">
        <img src="img/g3l.jpg" class="d-block " alt="...">
        </a>
        <div class="desc-1">

          <div class="lab-div">
            <label for="">The Batman
            </label>
            <p>imdRatring: 7.9</p>
            <p class="fisrt-desc">When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.</p>
          </div>
            <div class="but-div">
            <a href="/hv/the batman">Watch</a>
          </div>

        </div>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






</div>

<label class="home-text2">action movies</label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/thor: Love and Thunder">
  <img src="img/g7.jpeg" class="card-img-top" alt="...">
   </a>
</div>





<div class=" home-card" >
  <a href="/hv/john wick 3">
  <img src="img/g16.png" class="card-img-top" alt="...">
</a>
</div>



<div class=" home-card" >
   <a href="/hv/inception">
  <img src="img/g8.jpg" class="card-img-top" alt="...">
  </a>
</div>

<div class=" home-card large" >
  <a href="/hv/no time to die">
  <img src="img/g9.jpg" class="card-img-top" alt="...">
</a>
</div>


</div> 






<label class="home-text">Top Rated Serise</label>
<div class="slide-flex ">

<div id="carouselExampleInterval" class="carousel2 slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <a href="">
      <img src="img/g10.jpg" class="d-block" alt="...">
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g11.jpg" class="d-block " alt="...">
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g12.jpg" class="d-block " alt="...">
    </a>
    </div>
  </div>
  <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>









<div id="carouselExampleInterval" class="carousel2-large slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <a href="">
      <img src="img/g10.jpg" class="d-block" alt="...">
    </a>
    </div>


    
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g11.jpg" class="d-block " alt="...">
    </a>
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <a href="">
      <img src="img/g12.jpg" class="d-block " alt="...">
    </a>
    </div>
  </div>
  <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>









</div>


<label class="home-text2">Top Animations </label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/kimetsu no yaiba  mugen ressha-hen">
  <img src="img/g4.jpg" class="card-img-top" alt="...">
</a>
</div>



<div class=" home-card large" >
  <a href="/hv/hotel transylvania">
  <img src="img/g17.jpg" class="card-img-top" alt="...">
</a>
</div>



<div class=" home-card" >
  <a href="/hv/into the spider verse">
  <img src="img/g5.jpg" class="card-img-top" alt="...">
</a>
</div>

<div class=" home-card" >
  <a href="/hv/raya and the Last Dragon">
  <img src="img/g6.webp" class="card-img-top" alt="...">
</a>
</div>


</div> 




<label class="home-text2">Top sci-fi </label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <a href="/hv/interstellar">
  <img src="img/g13.jpg" class="card-img-top" alt="...">
</a>
</div>



<div class=" home-card" >
  <a href="/hv/tenet">
  <img src="img/g18.jpg" class="card-img-top" alt="...">
</a>
</div>




<div class=" home-card" >
  <a href="/hv/blade Runner 2049">
  <img src="img/g15.jpg" class="card-img-top" alt="...">
  </a>
</div>

<div class=" home-card large" >
  <a href="/hv/lucy">
  <img src="img/g14.jpg" class="card-img-top" alt="...">
</a>
</div>
</div> 






</body>
