<body>
  
  <div class="none"></div>

<nav class="navbar navbar-dark  fixed-top gray-back">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">webiste-name</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        
        <div class="offcanvas-header gray-back">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body gray-back">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>

      </div>
    </div>
  </nav>




  <label class="home-text">Trending</label>
  <div class="slide-flex">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="img/g1.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="img/g2.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="img/g3.jpg" class="d-block " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<label class="home-text2">Trending</label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <img src="img/g1.jpg" class="card-img-top" alt="...">
</div>

<div class=" home-card" >
  <img src="img/g2.jpg" class="card-img-top" alt="...">

</div>

<div class=" home-card" >
  <img src="img/g3.jpg" class="card-img-top" alt="...">
</div>


</div> 






<label class="home-text">Trending</label>
<div class="slide-flex">

<div id="carouselExampleInterval" class="carousel2 slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <img src="img/g4.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="img/g5.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2500">
      <img src="img/g6.jpg" class="d-block " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<label class="home-text2">Trending</label>


<div class="d-flex justify-content-evenly home-cards">


<div class=" home-card" >
  <img src="img/g1.jpg" class="card-img-top" alt="...">
</div>

<div class=" home-card" >
  <img src="img/g2.jpg" class="card-img-top" alt="...">

</div>

<div class=" home-card" >
  <img src="img/g3.jpg" class="card-img-top" alt="...">
</div>


</div> 




</body>
