<div class="none"></div>

<nav class="navbar navbar-dark  fixed-top gray-back">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">webiste-name</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        
        <div class="offcanvas-header gray-back">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body gray-back">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          
          </ul>
          <form class="d-flex mt-3" method="post" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchq">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>

      </div>
    </div>
  </nav>
  
  <div class="search-form">
  <form class="d-flex mt-3" method="post" action="/search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchq">
    <button class="" type="submit">Search</button>
  </form>

  


  


</div>


<label class="search-text">Results for <label for="" class="searchq"><%= locals.searchlabel  %></label> :</label>



<div class="contanier-flex">
<div class="contanier">
 
 
 
  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>




  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
  



<!-- Button trigger modal -->
<button type="button" class="modalbut" data-bs-toggle="modal" data-bs-target="#exampleModal">
  watch
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">${e.title}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center mb-2">
        <img src="img/g1.jpg" alt="" class="modal-img">
      </div>

      <p>year: e.year</p>
      <p>runtimeStr : e.runtimeStr</p>
      <p>genres: e.genres genres genres</p>
      <p>contentRating: contentRating</p>
      <p>imDbRating : imDbRating</p>
      <p>plot": "When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.",</p>
      <p>actors : Matt Reeves, Robert Pattinson, Zoë Kravitz, Jeffrey Wright, Colin Farrell</p>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




  </div>




  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>


    <div class="modal-dialog modal-dialog-centered">
      ...
    </div>



  </div>






  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>







  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>







  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>





  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>





  <div class="search-card">
    <img src="img/g1.jpg" class="cont-card">
    <div class="hid-card">
    <label class="card-title">${e.title}</label>
    <label class="rating">Rating: ${e.imDbRating}</label>
    </div>
    <button class="card-button">watch</button>
  </div>




</div>

</div>













