<label for="" class="view-id"><%=locals.id%></label>
<div class="view-body">

    <div class="spin">
        <div class="spinner-border " role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        </div>


</div>